<h1>New attend</h1>

<%= form_for(@attend) do |f| %>
  <% if @attend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attend.errors.count, "error") %> prohibited this attend from being saved:</h2>

      <ul>
      <% @attend.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <p> 
  You are attending <%= params[:event_id] %>.
  </p>
  <div class="field">
    <%= f.hidden_field :user_id, :value => session[:user_id] %>
  </div>
  <div class="field">
    <%= f.hidden_field :event_id, :value =>params[:event_id] %>
  </div>
  <div class="field">
     <%= f.hidden_field :attend, :value => Date.today %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Back', attends_path %>
